@font-face {
    font-family: 'Fraunces-Bold';
    font-weight: 700;
    src: url('./assets/fonts/Fraunces-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    font-weight: 500;
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, svg {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
}

p, h1, h2 {
    overflow-wrap: break-word;
}
